.not-founded-section .container {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-founded-section h1 {
    margin-bottom: 20px;
    color: #e74c3c;
}