.social-login {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.social-btn {
    background-color: #e53f3d;
    color: #fff;
    transition: .3s ease-in-out;
    width: 60px;
    height: 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-btn:hover {
    background-color: #c0392b;
}