.remove-btn {
    padding: 10px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: .3s ease-in-out;
}

.remove-btn:hover {
    background-color: #c0392b;
}