.hero-section {
    height: calc(100vh - 80px);
    background-image: url('../../../images/hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.hero-section h1 {
    color: white;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.hero-section .overlay .container {
    max-width: 900px;
    text-align: center;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section .overlay .container p {
    margin-bottom: 20px;
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .hero-section .overlay .container {
        max-width: 700px;
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 688px) {
    .hero-section .overlay .container {
        max-width: 300px;
    }

    .hero-section .overlay .container p {
        display: none;
    }
    
    .hero-section .overlay .container h1 {
        margin-bottom: 20px;
    }
}