header {
    position: relative;
    background-color: #f9fdfd;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header .container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 30px;
    font-weight: 600;
    align-items: center;
}

.site-logo {
    z-index: 10;
    cursor: pointer;
}

.nav-ber {
    display: none;
    z-index: 10;
}

.profile {
    position: relative;
}

.profile img {
    width: 30px;
    cursor: pointer;
    margin-top: 0px;
    border-radius: 50px;
}

.profile-nav {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #fff;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

.profile-nav button {
    background-color: #f6f6f6;
    padding: 8px 0;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.profile-nav button:hover {
    background-color: #e74c3c;
    color: #fff;
}

.profile-inner {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-inner h5 {
    margin-top: 4px;
}

.hide-desktop {
    display: none;
}

/* Medium devices (landscape tablets, phones 992px and down) */
@media only screen and (max-width: 992px) {
    .hide-mobile {
        display: none;
    }

    .hide-desktop {
        display: block;
    }

    .navigation {
        width: 100%;
        background-color: #f6f6f6;
        position: absolute;
        top: 0;
        left: 0;
        height: 70vh;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-105%);
        transition: 0.3s ease-in-out;
    }

    .mobile-nav {
        transform: translateY(0%);
    }

    .nav-ber {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .nav-ber svg {
        font-size: 22px;
        cursor: pointer;
    }

    .entry-point {
        flex-direction: column;
    }
}
