.purchase-section .container {
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.purchase-item > h3 {
    margin-bottom: 20px;
}

.purchase-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 2px;
    color: #fff;
    margin-bottom: 20px;
}

.info {
    background-color: #8a79f0;
    padding: 20px 30px;
    margin-bottom: 10px;
}

.info:first-child {
    border-radius: 10px 0 0 10px;
}

.info:last-child {
    border-radius: 0 10px 10px 0;
}

.info h5, .info h3 {
    color: white;
}

.info h5 {
    margin-bottom: 5px;
}

.purchase-image {
    text-align: center;
    margin-bottom: 20px;
}

.purchase-image img {
    width: 60%;
}

.additional-details h4 {
    margin-bottom: 10px;
}

.purchase-section .form-container {
    height: fit-content;
}

.form-container h3 {
    margin-bottom: 20px;
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .purchase-section .container {
        gap: 30px;
    }

    .purchase-info {
        grid-template-columns: repeat(1, 1fr);
    }

    .info {
        background-color: #e53f3d;
        padding: 10px 30px;
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 688px) {
    .purchase-section .container {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    .purchase-info {
        grid-template-columns: repeat(1, 1fr);
    }

    .info {
        background-color: #e53f3d;
        padding: 10px 30px;
    }
}
