table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

th,
td {
    padding: 10px 15px;
}

thead {
    background-color: #161616;
    color: #fff;
    text-transform: uppercase;
}

thead th {
    width: 25%;
}

tbody td:first-child, thead th:first-child {
    text-align: left;
}

.status, .action, .cancel {
    padding: 2px 10px;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}