table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

th,
td {
    padding: 20px 15px;
}

thead {
    background-color: #2a2e43;
    color: #fff;
    text-transform: uppercase;
}

thead th {
    width: 25%;
}

tbody td:first-child, thead th:first-child {
    text-align: left;
}

tbody td {
    height: 100px;
    justify-content: center;
    border-bottom: 2px solid #f0f7ff;
}

tbody td:last-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.status, .action, .cancel {
    padding: 8px 10px;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    transition: .3s ease-in-out;
}

.status {
    background-color: #2ecc71;
}

.action {
    background-color: #2ecc71;
}

.cancel {
    background-color: #e53f3d;
}

.status:hover, .action:hover, .cancel:hover {
    background-color: #2a2e43;
    color: #fff;
}
