.project-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 30px;
    background-color: #f6f6f6;
    align-items: center;
    margin-bottom: 20px;
    grid-auto-flow: dense;
    border-radius: 8px;
}

.project-item img {
    border-radius: 8px;
}
.project-item h3,.project-details p  {
    margin-bottom: 10px;
}

.btn-link {
    background-color: #e53f3d;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Oxanium', cursive;
    padding: 13px 30px ;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
}

.btn-link:hover {
    background-color: #7765dd;
    color: #fff;
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 688px) {
    .project-item {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .project-item:nth-child(2) {
        display: flex;
        flex-direction: column-reverse;
    }
}